body {
  background-color: #404040;
padding: 50px;
}

h1 {
  color: floralwhite;
  text-align: center;
  font-family: verdana;
}

label {
color: floralwhite;
  font-family: verdana;
  font-size: 40px;
}